

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
	font-family: 'Lato', sans-serif;
	font-weight:100;}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}


.light {
	font-weight:lighter;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.field {
	width:100%;
	margin:4px;
	padding:12px;
	color:#A09A9A;
	font-size:14px;}
	
	input[type=submit] {
    width: 30%;
    background-color: #f39200;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	border:thin #FFFFFF solid;
}

input[type=submit]:hover {
    background-color: #217692;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html {
	height: 100%;
	min-height: 100%;
	background-color: #000000;
}
body {
	
}
.no-js {
	padding-top: 106px;
}
h2 {
	margin-top: 0;
}
.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}
section {
	min-width: 960px;
	max-height: 630px;
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
main {
	overflow-x: hidden;
}
#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.bcg3 {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	
	width: 100%;
}



.nav {
	border-bottom: #FFFBFB 20px; solid;
	height:130px;
	
	margin-top:30px;
		border-bottom: solid 5px #ffffff;
}




ul#menu li {
    display: inline;
	float:left;
}

ul#menu li a {
	 text-transform: uppercase;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px 4px 4 4;

}

ul#menu li a:hover {
	background-color:#217692;}

#logo {
	float:left;	
}


#menuline { float:right;
text-align:right;
width:61%;
}

#phone {
	color:#217692;
	float: right;
	width:100%;
	padding-right:10px;
	font-weight:600;
	font-size:24px;
	vertical-align:top;
	margin-bottom:24px;
	}

.hsContainer {
	    width: 970px;
   
    overflow: hidden;
    position: relative;
   
    margin: auto;


}

.hsContent {
	text-align:center;
}
	.hsContent h2  {
		color: #ffffff;
	
		padding: 10px 5px;
		font-size: 27px;
		line-height: 38px;
		margin-bottom: 12px;
		font-weight: lighter;
	}
	.hsContent p {
		width: 400px;
		color: #b2b2b2;
	}
	.hsContent a {
		
		text-decoration: none;
	}

/* Slide 1 */
#slide-1 .bcg {background-image:url('../img/glass.jpg');
}
#slide-1 .hsContent {
	bottom: 200px;
	top: auto;
	
}

/* Slide 2 */
#slide-2 .bcg {background-image:url('../img/bluemountain.gif')}
#slide-2 .hsContent {

	text-align:center;
	top: auto;
}

/* Slide 3 */
#slide-3 .bcg {background-image:url('../img/room.jpg')}
#slide-3 .hsContent {
	
}
	#slide-3 h2 {
		color: #217692;
		
	}
	
	#button {
		width:18%;
		height:149px;
		background-color:#217692;
		margin:10px;
		float:left;
			opacity: 0.5;
			color:#FFFFFF;
			padding:20px;
			font-size:26px;
			font-weight:lighter;
			ext-transform: lowercase;
			padding-top: 40px;
			background-image:url(../img/s1.jpg);
	}
	
	
	#button:hover {
		width:18%;
		height:149px;
		background-color:#cccccc;
		background-image:url(../img/r1.jpg);
		opacity: 1;
	}
	
	
	
		#button2 {
		width:18%;
		height:149px;
		background-color:#217692;
		margin:10px;
		float:left;
			opacity: 0.5;
			color:#FFFFFF;
			padding:20px;
			font-size:26px;
			font-weight:lighter;
			ext-transform: lowercase;
			padding-top: 40px;
			background-image:url(../img/s2.jpg);
	}
	
	
	#button2:hover {
		width:18%;
		height:149px;
		background-color:#cccccc;
		background-image:url(../img/r2.jpg);
		opacity: 1;
	}
	
	
	
	
		#button3 {
		width:18%;
		height:149px;
		background-color:#217692;
		margin:10px;
		float:left;
			opacity: 0.5;
			color:#FFFFFF;
			padding:20px;
			font-size:26px;
			font-weight:lighter;
			ext-transform: lowercase;
			padding-top: 40px;
			background-image:url(../img/s3.jpg);
	}
	
	
	#button3:hover {
		width:18%;
		height:149px;
		background-color:#cccccc;
		background-image:url(../img/r3.jpg);
		opacity: 1;
	}
	
	
	
	
		#button4 {
		width:18%;
		height:149px;
		background-color:#217692;
		margin:10px;
		float:left;
			opacity: 0.5;
			color:#FFFFFF;
			padding:20px;
			font-size:26px;
			font-weight:lighter;
			ext-transform: lowercase;
			padding-top: 40px;
			background-image:url(../img/s4.jpg);
	}
	
	
	#button4:hover {
		width:18%;
		height:149px;
		background-color:#cccccc;
		background-image:url(../img/r4.jpg);
		opacity: 1;
	}
	
	
	
			#buttonf {
		width:152px;
		height:214px;
		background-image:url(../img/fast.jpg) !important;
		float:left;
		background:no-repeat;
		
		position:relative;
	}
	
	
	#buttonf:hover {
		background-image:url(../img/fast_on.jpg) !important;
		float:left;
		position:relative;
	}
	
	
			#buttonp {
		width:196px;
		height:214px;
		background-image:url(../img/price.jpg) !important;
		background:no-repeat;
		
		position:relative;
		float:left;
	}
	
	
	#buttonp:hover {
		background-image:url(../img/price.jpg) !important;
		float:left;
		
		position:relative;
		
	}
	
	#buttone:hover {
		background-image:url(../img/expert_on.jpg) !important;
		float:left;
		
		position:relative;
		
	
	}
	
	
	
	
	
			#buttone {
		width:214px;
		height:214px;
		background-image:url(../img/expert.jpg) !important;
		background:no-repeat;
		position:relative;
		float:left;
	}
	
	
	
	
	#buttonp:hover {
		background-image:url(../img/price_on.jpg) !important;
	}
	
.linebelow {
	border-bottom:#FFFFFF solid thin; width:100px;
	width: 74px;
margin: auto;	
}

.mb {
	padding-bottom:10px;	
}
/* Slide 4 */
#slide-4 .bcg { background-color:#636a6e;}
#slide-4 .hsContent {
	
}
	#slide-4 h2 {
		background: none;
		padding-left: 0;
		padding-right: 0;
	}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



h6 {
    font-size: 83px;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    color: #ffffff;
    margin: 0;
    padding: 90px 0 25px 0;
    transform-origin: 50% 100%;

     
    animation-duration: 3s;
    animation-name: fadeAndScale;
    animation-timing-function: cubic-bezier(1.71,.55,.62,3.57);
}

a:hover {
  
}
@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.9, .9);
		
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
		
    }
}

@keyframes moving {
    from {top: 50px;}
    to {top: 110px;}
}
@-webkit-keyframes moving {
      from {top: 50px;}
    to {top: 110px;}
}
#movetxt {
    animation: moving 3s; 
    -webkit-animation: moving 5s; 
    position:relative;
	font-size: 30px;
	top: 110px;
	color:#FFFFFF;
}
	


@keyframes movingup {
    from {top: 0px;}
    to {top: -49px;}
}
@-webkit-keyframes movingup {
      from {top: 0px;}
    to {top: -49px;}
}
#movetxtup {
    animation: movingup 3s; 
    -webkit-animation: moving 5s; 
    position:relative;
	font-size: 30px;
	top: -49px;
	color:#FFFFFF;
}
	








h5 {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
  
    margin: 0;

    transform-origin: 50% 100%;

     
    animation-duration: 1.5s;
    animation-name: fadeAndScale;
    animation-timing-function: cubic-bezier(0,.55,.62,2.57);
	   width: 13%;
	
    background-color: #f39200;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	border:thin #FFFFFF solid;
	margin:auto;
}


@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.9, .9);
		
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
		
    }
}

@keyframes movingb {
    from {top: 10px;}
    to {top: 0px;}
}
@-webkit-keyframes movingb {
      from {top: 10px;}
    to {top: 0px;}
}
#movebut {
    animation: moving 12s; 
    -webkit-animation: movingb 12s; 
    position:relative;
	font-size: 30px;
	top: -100px;
	
}


#top {
		width: 27px;
height: 118px;
		 background-image:url(../img/top.png) !important;
		 float:right;
		 
		
	}
	
	
	#top:hover {
	
			 width: 27px;
height: 118px;
		 background-image:url(../img/top-on.png) !important;
	}






#contact {
		 width: 30%;
background-color: #f39200;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
border: thin #FFFFFF solid;
		
	}
	
	
	#contact:hover {
		width: 30%;
background-color: #217692;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
border: thin #FFFFFF solid;
		
	}
	
	
	.emailtop {
		
color: #217692;
text-decoration:none;
		background-color: none;
	}
	
	
	.emailtop:hover {
		 
color: #f39200;

		
text-decoration:none;
	}